In [3]:
import pandas as pd

data = {'satu': [1,1,1,1,1],
        'dua' : [2,2,2,2,2],
        'tiga': [3,3,3,3,3]}

df = pd.DataFrame(data)

df.head()

   satu  dua  tiga
0     1    2     3
1     1    2     3
2     1    2     3
3     1    2     3
4     1    2     3